<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerKick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{103,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,132}}</string>
                <key>sourceSize</key>
                <string>{103,132}</string>
            </dict>
            <key>playerKick10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1201},{93,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,139}}</string>
                <key>sourceSize</key>
                <string>{93,139}</string>
            </dict>
            <key>playerKick11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1609},{87,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,131}}</string>
                <key>sourceSize</key>
                <string>{87,131}</string>
            </dict>
            <key>playerKick12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{87,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,128}}</string>
                <key>sourceSize</key>
                <string>{87,128}</string>
            </dict>
            <key>playerKick13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1872},{87,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,126}}</string>
                <key>sourceSize</key>
                <string>{87,126}</string>
            </dict>
            <key>playerKick14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{87,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,131}}</string>
                <key>sourceSize</key>
                <string>{87,131}</string>
            </dict>
            <key>playerKick15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{88,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,132}}</string>
                <key>sourceSize</key>
                <string>{88,132}</string>
            </dict>
            <key>playerKick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>playerKick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,131}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>playerKick4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{103,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,131}}</string>
                <key>sourceSize</key>
                <string>{103,131}</string>
            </dict>
            <key>playerKick5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{98,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,132}}</string>
                <key>sourceSize</key>
                <string>{98,132}</string>
            </dict>
            <key>playerKick6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{107,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,133}}</string>
                <key>sourceSize</key>
                <string>{107,133}</string>
            </dict>
            <key>playerKick7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{105,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,132}}</string>
                <key>sourceSize</key>
                <string>{105,132}</string>
            </dict>
            <key>playerKick8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{96,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,127}}</string>
                <key>sourceSize</key>
                <string>{96,127}</string>
            </dict>
            <key>playerKick9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playerKick.png</string>
            <key>size</key>
            <string>{114,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8293ddf6b61cc2f219e17042a5224246:0045305582fd24e0ba6d415fbd4ba3cb:1575409f0596a3f70872068ed2bee031$</string>
            <key>textureFileName</key>
            <string>playerKick.png</string>
        </dict>
    </dict>
</plist>
