<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>playerIdle1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1789},{102,133}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{102,133}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,697},{102,137}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,137}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1247},{102,135}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{102,135}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1110},{102,135}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{102,135}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1654},{102,133}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{102,133}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1519},{102,133}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{102,133}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1789},{102,133}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{102,133}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1384},{102,133}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{102,133}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,973},{102,135}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{102,135}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,836},{102,135}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{102,135}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,558},{104,137}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,137}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,280},{106,137}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,137}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,141},{106,137}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,137}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{106,137}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,137}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
		<key>playerIdle9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,419},{104,137}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,137}}</string>
			<key>sourceSize</key>
			<string>{108,137}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>playerIdle.png</string>
		<key>size</key>
		<string>{110,1924}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d8c118ad185cd45ec46cbcae0af5635b:17b64774c7546b8a5833cb4eb519a163:d0e4ef87beb3499d9abd69d3b6dfee9d$</string>
		<key>textureFileName</key>
		<string>playerIdle.png</string>
	</dict>
</dict>
</plist>
