<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ga0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,189},{195,287}}</string>
                <key>offset</key>
                <string>{-187,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{195,287}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
            <key>ga0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{225,255}}</string>
                <key>offset</key>
                <string>{-179,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{225,255}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
            <key>ga0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,177},{225,239}}</string>
                <key>offset</key>
                <string>{-179,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,53},{225,239}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
            <key>ga0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,267}}</string>
                <key>offset</key>
                <string>{-19,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,0},{271,267}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
            <key>ga0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{283,221}}</string>
                <key>offset</key>
                <string>{49,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,54},{283,221}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
            <key>ga0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{297,185}}</string>
                <key>offset</key>
                <string>{91,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,134},{297,185}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
            <key>ga0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,259},{321,173}}</string>
                <key>offset</key>
                <string>{102,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,174},{321,173}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
            <key>ga0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{311,173}}</string>
                <key>offset</key>
                <string>{117,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,219},{311,173}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
            <key>ga0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,2},{295,173}}</string>
                <key>offset</key>
                <string>{123,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,219},{295,173}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
            <key>ga0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,177},{295,173}}</string>
                <key>offset</key>
                <string>{123,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,219},{295,173}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
            <key>ga0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{295,173}}</string>
                <key>offset</key>
                <string>{133,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,219},{295,173}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
            <key>ga0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,177},{295,173}}</string>
                <key>offset</key>
                <string>{143,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,219},{295,173}}</string>
                <key>sourceSize</key>
                <string>{585,409}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goalieanimation.png</string>
            <key>size</key>
            <string>{1708,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65e1a8901127f936c21bbb6ae8565316:9501e9264a47726068dfd18315938f91:9264b3f293071414f1d6f55406816a9d$</string>
            <key>textureFileName</key>
            <string>goalieanimation.png</string>
        </dict>
    </dict>
</plist>
