<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goalieDive1.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,91},{98,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,143}}</string>
                <key>sourceSize</key>
                <string>{98,143}</string>
            </dict>
            <key>goalieDive10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{147,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,87}}</string>
                <key>sourceSize</key>
                <string>{147,87}</string>
            </dict>
            <key>goalieDive11.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{147,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,87}}</string>
                <key>sourceSize</key>
                <string>{147,87}</string>
            </dict>
            <key>goalieDive12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{147,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,87}}</string>
                <key>sourceSize</key>
                <string>{147,87}</string>
            </dict>
            <key>goalieDive2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,91},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>goalieDive3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,91},{112,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{112,120}</string>
            </dict>
            <key>goalieDive4.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,91},{137,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,133}}</string>
                <key>sourceSize</key>
                <string>{137,133}</string>
            </dict>
            <key>goalieDive5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,91},{142,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,110}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>goalieDive6.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,91},{149,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,92}}</string>
                <key>sourceSize</key>
                <string>{149,92}</string>
            </dict>
            <key>goalieDive7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>goalieDive8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{156,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,87}}</string>
                <key>sourceSize</key>
                <string>{156,87}</string>
            </dict>
            <key>goalieDive9.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{147,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,87}}</string>
                <key>sourceSize</key>
                <string>{147,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goalieDive.png</string>
            <key>size</key>
            <string>{913,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b043fa1f5516756335d34ee52f3b68ec:9b36b38e09a9c0560702e94a42a4a4c4:8a041526ef11d0007c056e165b9afb61$</string>
            <key>textureFileName</key>
            <string>goalieDive.png</string>
        </dict>
    </dict>
</plist>
