<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Heavybreathe1001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1602,2},{98,143}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{98,143}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1502,2},{98,143}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{98,143}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1402,2},{98,145}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{98,145}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1302,2},{98,145}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{98,145}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,2},{98,145}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{98,145}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1006.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{98,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,147}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1007.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,2},{98,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,147}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1008.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{98,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,147}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1009.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,2},{98,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,147}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1010.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,2},{98,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,147}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1011.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,2},{98,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,147}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1012.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{98,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,147}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1013.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,2},{98,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,147}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1014.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{98,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,147}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1015.png</key>
		<dict>
			<key>frame</key>
			<string>{{1102,2},{98,145}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{98,145}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1016.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,2},{98,145}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{98,145}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1017.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,2},{98,145}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{98,145}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
		<key>Heavybreathe1018.png</key>
		<dict>
			<key>frame</key>
			<string>{{1602,2},{98,143}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{98,143}}</string>
			<key>sourceSize</key>
			<string>{98,147}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>heavybreathe.png</string>
		<key>size</key>
		<string>{1702,151}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d919880e0e8ea2a5a1e849ec47c5b22c:b20e285e0e3de3102dd0b8700313da2e:50461a3a710993e8f96e77f012bd5fc8$</string>
		<key>textureFileName</key>
		<string>heavybreathe.png</string>
	</dict>
</dict>
</plist>
