<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jmp1001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1295},{99,143}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,22},{99,143}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
		<key>jmp1002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1440},{99,133}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,32},{99,133}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
		<key>jmp1003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,131},{109,127}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,38},{109,127}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
		<key>jmp1004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,409},{105,147}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{105,147}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
		<key>jmp1005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,709},{101,147}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{101,147}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
		<key>jmp1006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,858},{99,145}}</string>
			<key>offset</key>
			<string>{0,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{99,145}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
		<key>jmp1007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1150},{99,143}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{99,143}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
		<key>jmp1008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,558},{101,149}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{101,149}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
		<key>jmp1009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{105,147}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{105,147}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
		<key>jmp1010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{109,127}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,38},{109,127}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
		<key>jmp1011.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1440},{99,133}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,32},{99,133}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
		<key>jmp1012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1005},{99,143}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,22},{99,143}}</string>
			<key>sourceSize</key>
			<string>{111,165}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jumpanimation.png</string>
		<key>size</key>
		<string>{113,1575}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8d4b86c0965ce2f7eb0c598b0b8a039f:371e1821044750b1545187a4557768fe:7c821540bb4d20b333f6b8129e8955c7$</string>
		<key>textureFileName</key>
		<string>jumpanimation.png</string>
	</dict>
</dict>
</plist>
